<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore.cms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/sidebars.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
             style="width: 280px">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                </svg>
                <span class="fs-4">Online Store</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Users
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Products" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Products
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Categories" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Categories
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Stocks" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Stocks
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Stock Events" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Stock Events
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Orders" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Orders
                    </a>
                </li>
                <li class="nav-item text-white">
                    <a asp-area="" asp-controller="Reports" asp-action="Index" class="nav-link" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                        </svg>
                        Reports
                    </a>
                </li>
               
            </ul>
            <hr />            
        </div>
        <div class="container">
                @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebars.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
